.context_menu{
    background-color:#fcf3dc;
    border:1px solid #d9c5a1;
    width: 250px;
    height: 250px;
}
.context_menu_item{
    padding:3px 6px;
}
.context_menu_item:hover{
    background-color:#CCCCCC;
}
.context_menu_separator{
    background-color:gray;
    height:1px;
    margin:0;
    padding:0;
}