#infobox {
    border: 1px solid rgb(233, 233, 233);
    margin-top: 8px;
    background: rgb(247, 247, 247);
    color: rgb(94, 94, 94);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 8px #525252;
    box-shadow: 0 0 8px #525252;
    z-index: 1000;
}

#namexpopup{
    font-size: 14px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 6px;
}
#addresspopup{
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#callnowpopup{
    text-align: center;
    height: 20px;
    background: green;
    color: white;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
}

#callnowpopup:hover{
    background: rgb(2, 97, 2);
}