html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map_canvas {
    height: 100%;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    width: 100%;
}

#button-marker {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 100px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#address_view {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 250px;
    height: auto;
    visibility: visible;

}

#list_places_view {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-right: 10px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 240px;
    height: 300px;
    visibility: visible;


}

table.scroll {
    /* width: 100%; */ /* Optional */
    /* border-collapse: collapse; */
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border: 0px solid black;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th {
    height: 30px;
    line-height: 30px;
    /* text-align: left; */
}

table.scroll tbody {
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer;
}


tbody td:last-child, thead th:last-child {
    border-right: none;
}

.label{
    font-family: Roboto;
    font-size: 11px;
}

.button {
    background-color: #62401f;
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;


}

#table_menu{
    margin-left: 20px;
}

#zoom_menu{
    margin-left: 20px;
}

#button-add_tr_point {
    visibility: hidden;
}

#button-hand {
    visibility: hidden;
}

.gm-style-iw {
    background-color: #fcf3dc;
    border: 1px solid #d9c5a1;
}

#iw-container {
    background-color: #fcf3dc;
    border: 1px solid #d9c5a1;
    margin-bottom: 5px;
    width: 300px;
    height: 100px;
}

#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-content img {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}

.iw-latLng{
    float:right;
    font-size: 12px;
    padding: 5px 0;
}

#button-change {
    background-color: #c9ae86;
    width: 100%;
    height: 50px;
    color: #745535;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
}

.container_div_button{
    background: #745535;
    width:100%;
}

.left_div{
    float:left;
    width:20px;
    height: 50px;
}

.center_div{
    display: inline-block;
    margin:0 auto;
    width:100px;
    height: 50px;
}

.right_div{
    float:right;
    width:20px;
    height: 50px;
}

.container-infoDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #fcf3dc;
    width: 200px;

    font-family:Arial;
    color: #62401f;
}

.container-infoDivRight {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #fcf3dc;
    width: 150px;

    font-family:Arial;
    color: #62401f;
}

.change-buttonDiv {
    display:table;
    background-color: #c9ae86;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.change-buttonDivRight {
    display:table;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.change-iconLeft, .change-text, .change-iconRight {
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.change-text{
    color: #62401f;
    font-size: 15px;
}

.img-iconLeft{
    margin-top: 2px;
    float: left;

}

.div-center{
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}

.div-subTitle {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0;

}
.container-descriptionDiv{
    font-style:italic;
    font-size: 14px;
}
.div-headerButton{
    text-align: right;
    width: 100%;
    height: 16px;
}
.close-imageButton{
    cursor: pointer;
}
.container-inputText{
    height: 30px;
    width: 100%;
    background-color: #ffe;
    color: #930;

}
.container-notfoundText{
    padding-top: 10px;
    padding-bottom: 10px;
}




.info_window {
    display: none;
}



.delete_marker {
    cursor: pointer;;
}