.container-infoDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #fcf3dc;
    display: inline-block;
    border: 1px solid #d9c5a1;
    font-family:Arial;
    color: #62401f;
}
.change-buttonDiv {
    display:table;
    background-color: #c9ae86;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.change-iconLeft, .change-text, .change-iconRight {
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.change-text{
    color: #62401f;
    font-size: 15px;
}

.img-iconLeft{
    margin-top: 2px;
    float: left;

}

.div-center{
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}

.div-subTitle {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0;

}
.container-descriptionDiv{
    font-style:italic;
    font-size: 14px;
}
.div-headerButton{
    text-align: right;
    width: 100%;
    height: 16px;
}
.close-imageButton{
    cursor: pointer;
}
.container-inputText{
    height: 30px;
    width: 100%;
    background-color: #ffe;
    color: #930;

}
.container-notfoundText{
    padding-top: 10px;
    padding-bottom: 10px;
}